.header-index {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--brand-gray-light);
  width: 100%;
  min-height: 2em; 
}

nav {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-top: 10px;
}

.div-notification{
  position: relative;
  width: 2em;
  height: 2em;
}

.menu-container a {
  cursor: pointer;
  font-size: 24px;
}

.notification-bubble{
  margin: 0;
  padding: 0.1em;
  width: 1.2em;
  height: 1.2em;
  border-radius: calc(var(--radius) - 2px);
  position: absolute;
  top: 0em;
  right:0em ;
  z-index: 1;
}

.icon-notification{
  position: absolute;
  top: 0.5em;
  z-index: 0;
}

.size-notification{
  width: 2em;
  height: 2em;
}

.nav{
  position: absolute;
  box-sizing: border-box;
  background-color: var();
  background-color: var(--brand-gray-light);
  top: 0;
  width: 80%;
  height: 100vh;
  padding: 0 1em;
  gap: 1em;
  z-index: 100;
}
.div-logo-index{
  width: 5em;
  height: 5em;
}
.div-header-logo{
  border-bottom: 2px solid var(--border);
}