@import url("/src/css/globals.css");

.login{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
width: 100%;
margin: 1.5em;
padding: 1.5em;
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************** Circle **************/
.circle-login{
    width: 2.8em;
    background: var(--gradient-primary-color);
}
/*************** padding / margin **************/
.m-h5-login{
    margin-bottom: 2em;
}

/*************** direction **************/
.h5-df{
    text-align: right;
}