<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recuperar Contraseña</title>
<!-- Remix Icon-->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">

<link rel="stylesheet" href="/src/css/globals.css">
<link rel="stylesheet" href="/src/css/views/login.css">
</head>
<body>
<main class="login">
    <section class="card card-login">
        <form id="forgotForm">
             <div class="div-center">
                <div class="circle circle-login m-05em">
                    <img src="/src/assets/icon/logo-icono.ico" alt="Icono 3k" class="img-circle "></img>
                </div>
                <h2 class="mt-03 m-05em">Recuperar Contraseña</h2>
                <h5 class="m-h5-login">Ingresa tu correo para recibir un enlace.</h5>
             </div>
             <div>
                <label for="correo" class="font-6">Correo electrónico</label>
                <div class="input-icon-red  mt-03">
                    <i class="ri-mail-line font-5"></i>
                    <input type="email" id="correo" class="input-100" placeholder="tu@correo.com" required>
                </div>
                 <h5 class="m-h5-login mt-03">Te enviaremos un enlace para restablecer tu contraseña.</h5>

                 <div>
                     <button type="submit" class="button-primary size-100 m-05em">
                        <span class="btn-text">Enviar enlace</span>
                        <div class="spinner"></div>
                    </button>
                    
                    <a class="button link button-link" href="/login.html"> 
                        <i class="ri-arrow-left-line"></i>
                        Volver al inicio de seccion
                    </a>
                 </div>
             </div>
            <p id="msg"></p>
        </form>
    </section>
</main>
<script type="module" src="/src/js/forgot.js"></script>
</body>
</html>
