<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Restablecer Contraseña</title>
<link rel="stylesheet" href="/css/globals.css">
</head>
<body>
<main>
    <form id="resetForm">
    <h2>Restablecer Contraseña</h2>
    <p>Ingresa tu nueva contraseña.</p>

    <label for="password">Nueva contraseña</label>
    <input type="password" id="password" required>

    <label for="confirm">Confirmar contraseña</label>
    <input type="password" id="confirm" required>

    <button type="submit">Cambiar contraseña</button>
    <p id="msg"></p>
    </form>
</main>
<script src="/src/js/reset.js" defer></script>
</body>
</html>
