<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Restablecer Contraseña</title>
<!-- Remix Icon-->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">

<link rel="stylesheet" href="/src/css/globals.css">
<link rel="stylesheet" href="/src/css/views/login.css">

</head>
<body>
<main class="login">
    <section class="card card-login">
        <form id="resetForm">
            <div class="div-center">
                <h2>Restablecer Contraseña</h2>
                <p>Ingresa tu nueva contraseña.</p>
            </div>

            <label for="password">Nueva Contraseña</label>
            <input type="password" id="password" required>

            <label for="confirm">Confirmar Contraseña</label>
            <input type="password" id="confirm" required>

            <button type="submit">Cambiar contraseña</button>
            <p id="msg"></p>
        </form>
    </section>
</main>
<script src="/src/js/reset.js" defer></script>
</body>
</html>
